@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

:root {
  background-color: #ea5823;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

input,
a:focus {
  outline: none;
  background-color: transparent;
}
input:focus {
  outline: none;
  background-color: white;
}

body {
  /* width: 100vw; */
  overflow-x: hidden;
}
